In [1]:
import pandas as pd

csv = 'PET_AUTOPSY.csv'
df = pd.read_csv(csv)
df

,SUBJECT_ID,ORIG_GROUP,LAST_DIAGNOSIS,FDG_ID,FDG_AGE,AGE_DEATH,ALZHEIMER PATHOLOGY,LEWY PATHOLOGY
0,003_S_4892,AD,AD,334485,75.3,76,3,0
1,005_S_0448,MCI,AD,226091,90.6,93,1,2
2,005_S_4910,AD,AD,347770,81.7,84,3,4
3,006_S_4546,AD,AD,300098,71.2,75,3,2
4,011_S_0008,CN,MCI,26885,85.6,95,1,3
...,...,...,...,...,...,...,...,...
68,127_S_4500,AD,AD,417020,92.5,95,3,0
69,127_S_4765,EMCI,AD,871795,81.1,81,3,3
70,127_S_5058,AD,AD,360030,61.9,66,2,3
71,129_S_1246,MCI,MCI,362092,78.5,80,2,0
72,941_S_1203,CN,MCI,169796,86.6,89,2,0

In [3]:
for index_, row_ in df.iterrows():
    
    if row_['ALZHEIMER PATHOLOGY']>= 2:
        AD_POS = 1
    else:
        AD_POS = 0

    if row_['LEWY PATHOLOGY']>= 2:
        LEWY_POS = 1
    else:
        LEWY_POS = 0
    
    if AD_POS==1 and LEWY_POS == 0:
        
        group = 'AD'

    elif AD_POS==0 and LEWY_POS == 1:
        group = 'LEWY'

    elif AD_POS==1 and LEWY_POS == 1:
        group = 'Mixed'
    
    else:
        group = 'Negative'
    
    df.loc[index_,'AD_Pos'] = AD_POS
    df.loc[index_,'Lewy_Pos'] = LEWY_POS
    df.loc[index_,'Grupo'] = group

In [5]:
df.to_csv('Clasificados.csv')