In [6]:
import pandas as pd

In [7]:
csv_ = 'PET_AUTOPSY.csv'
df_autopsia = pd.read_csv(csv_)
df_autopsia

,SUBJECT_ID,ORIG_GROUP,LAST_DIAGNOSIS,FDG_ID,FDG_AGE,AGE_DEATH,ALZHEIMER PATHOLOGY,LEWY PATHOLOGY
0,003_S_4892,AD,AD,334485,75.3,76,3,0
1,005_S_0448,MCI,AD,226091,90.6,93,1,2
2,005_S_4910,AD,AD,347770,81.7,84,3,4
3,006_S_4546,AD,AD,300098,71.2,75,3,2
4,011_S_0008,CN,MCI,26885,85.6,95,1,3
...,...,...,...,...,...,...,...,...
68,127_S_4500,AD,AD,417020,92.5,95,3,0
69,127_S_4765,EMCI,AD,871795,81.1,81,3,3
70,127_S_5058,AD,AD,360030,61.9,66,2,3
71,129_S_1246,MCI,MCI,362092,78.5,80,2,0
72,941_S_1203,CN,MCI,169796,86.6,89,2,0

In [10]:
for indx_, row_ in df_autopsia.iterrows():
    
    patologia_ad = row_['ALZHEIMER PATHOLOGY']
    patologia_lewy = row_['LEWY PATHOLOGY']
    
    if patologia_ad >= 2 and patologia_lewy < 2:
        group = 'pure-AD'

    elif patologia_lewy >= 2 and patologia_ad < 2:
        group = 'pure-Lewy'

    elif patologia_ad >= 2 and patologia_lewy >= 2:
        group = 'Mixed'

    else:
        group = 'Negative'
        
    df_autopsia.loc[indx_, 'Group'] = group

df_autopsia = df_autopsia.loc[df_autopsia['Group'] != 'Mixed']
df_autopsia = df_autopsia.loc[df_autopsia['Group'] != 'Negative']
df_autopsia

,SUBJECT_ID,ORIG_GROUP,LAST_DIAGNOSIS,FDG_ID,FDG_AGE,AGE_DEATH,ALZHEIMER PATHOLOGY,LEWY PATHOLOGY,Group
0,003_S_4892,AD,AD,334485,75.3,76,3,0,pure-AD
1,005_S_0448,MCI,AD,226091,90.6,93,1,2,pure-Lewy
4,011_S_0008,CN,MCI,26885,85.6,95,1,3,pure-Lewy
6,011_S_0053,AD,AD,83975,82.2,86,1,3,pure-Lewy
9,011_S_0362,MCI,AD,141405,73.6,75,3,0,pure-AD
10,011_S_0861,MCI,AD,158134,90.3,93,3,0,pure-AD
13,011_S_4827,AD,AD,906469,76.2,78,3,0,pure-AD
14,014_S_0563,MCI,AD,196278,85.1,93,1,2,pure-Lewy
16,014_S_4058,LMCI,AD,246832,84.8,90,3,0,pure-AD
18,014_S_4615,AD,AD,301226,86.7,92,3,0,pure-AD
20,018_S_4868,EMCI,MCI,902851,82.3,84,3,0,pure-AD
23,023_S_4796,LMCI,AD,339792,72.9,78,3,0,pure-AD
25,024_S_1393,MCI,AD,234137,85.7,76,3,0,pure-AD
28,027_S_0408,MCI,AD,385375,89.4,91,1,2,pure-Lewy
30,027_S_4936,LMCI,AD,345462,78.2,81,1,3,pure-Lewy
32,029_S_0843,CN,AD,32761,70.8,80,2,0,pure-AD
33,029_S_0914,MCI,AD,58634,74.8,85,3,0,pure-AD
35,031_S_0830,MCI,AD,196763,75.0,76,3,1,pure-AD
36,031_S_4474,CN,MCI,289519,85.7,86,3,0,pure-AD
38,032_S_0400,AD,AD,104791,71.4,75,3,0,pure-AD
39,032_S_0978,MCI,AD,133005,75.4,80,3,0,pure-AD
43,033_S_0723,MCI,AD,153173,82.2,83,1,3,pure-Lewy
45,033_S_0906,MCI,AD,341352,71.4,76,3,0,pure-AD
48,033_S_5017,AD,AD,347897,84.4,86,3,0,pure-AD
49,033_S_5087,AD,AD,364764,64.8,69,3,0,pure-AD
50,037_S_4770,AD,AD,319766,76.1,77,3,0,pure-AD
51,041_S_1425,MCI,AD,250333,79.7,80,3,0,pure-AD
53,073_S_2190,EMCI,MCI,364772,84.8,89,3,0,pure-AD
56,098_S_0269,MCI,AD,242653,72.5,77,3,0,pure-AD
59,114_S_0378,MCI,AD,403653,76.8,77,3,0,pure-AD
60,114_S_1118,MCI,MCI,406049,89.7,91,1,2,pure-Lewy
65,126_S_4675,LMCI,AD,423888,81.9,84,3,1,pure-AD
66,127_S_1032,MCI,AD,129551,86.9,96,2,0,pure-AD
68,127_S_4500,AD,AD,417020,92.5,95,3,0,pure-AD
71,129_S_1246,MCI,MCI,362092,78.5,80,2,0,pure-AD
72,941_S_1203,CN,MCI,169796,86.6,89,2,0,pure-AD

In [9]:
print(len(df_autopsia.loc[df_autopsia['Group'] == 'pure-Lewy']))
print(len(df_autopsia.loc[df_autopsia['Group'] == 'pure-AD']))

8
28

In [11]:
df_autopsia.to_csv('Clasificados.csv')